.main_div {
  width: 420px;
  height: 680px;
  background-color: black;
  margin: 1rem auto;
}
.first {
  
  width: 420px;
  height:50px ;
  font-size: 40px;
  color: gray;
  padding-right: 2rem;
}
.second {
  
  width: 420px;
  height:60px ;
  font-size: 60px;
  padding-bottom: 1rem;
  padding-right: 2rem;
  
  
}
.button {
  width: 5rem;
  height: 5rem;
  border: 1px solid;
  border-radius: 75%;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;

  
}

.button:hover {
  background-color:gray !important;
  cursor: pointer;
}

.number {
  background-color:rgb(68, 66, 66);
}

.zero {
  text-align: start;
  width:11rem ;
  padding: 15px 20px;
  border-radius: 40px;

}
